html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template: 17% 85%/ 17% 83%;
    grid-template-areas:
        "div header"
        "div main";
}

header {
    display: grid;
    background: white;
    grid-area: header;
    margin: 10px 30px;
}

#profil {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    grid-area: photo;
}

.search,
.commandes {
    display: grid;
    grid-template-columns: 60% 15% 25%;
    grid-template-areas:
        "rech vide notif_profil";
    align-items: center;
}

.rech {
    display: grid;
    grid-template-columns: 7% 1fr;
    grid-area: rech;

}

#rechercher {
    background: #e2e8f0;
    margin-top: 0px;
    width: 500px;
    height: 25px;
    border: 0px;
    border-radius: 19px;
}

.notif_profil {
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-area: notif_profil;
}

#notification {
    grid-area: notif;
}

#name {
    grid-area: nom;
}

.commandes {
    margin-top: 20px;
}

.info {
    grid-area: rech;
    display: grid;
    grid-template-columns: 10% 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "img p"
        "img h4";
    align-items: center;

}

.info h4 {
    margin-top: -10px;
}

#profil2, .profil-trending {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.boutons {
    margin-top: -80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: notif_profil;
}

.boutons>input {
    background-color: #3b82f6;
    color: white;
    height: 30px;
    width: 80px;
    border: 0px;
    border-radius: 19px;
    cursor: pointer;
}

input[type=submit]:hover {
    color: #3b82f6;
    background-color: rgb(208, 255, 237);
    font-weight: bold;
}

.sidebar {
    position: fixed;
    width: 40vh;
    background: #3b82f6;
    font-weight: bold;
    color: #fff;
    grid-area: div;
    height: 100%;
}

.side-dash,
.sidebar-menu {
    margin: -10px;
    display: flex;
    align-items: center;
    padding: 0px 25px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.side-dash {
    margin-top: 10px;
    margin-bottom: 25px;
}

.side-dash span {
    font-size: 32px;
    padding-right: 10px;
}

.sidebar-menu>span {
    padding-right: 20px;
}

.sidebar-menu:hover,
.side-dash:hover {
    width: 30vh;
    background-color: #fff;
    color: #2d2b98;
    border-radius: 50px;
}

#setting {
    margin-top: 30px;
}

main {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    background: #e2e8f0;
    grid-area: main;
    padding: 10px 40px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.05fr repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-area: 1 / 1 / 2 / 2;
}

.title {
    grid-area: 1 / 1 / 2 / 3;
    /* margin-bottom: -90px; */
}
.card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 20% 60% 20%;
    background-color: #fff;
    border-left: 10px solid #eab308;
    border-radius: 5px;
    padding: 15px;
    height: 30vh;
}
.card h4{
    grid-area: 1 / 1 / 2 / 3;
}
.card p{
    grid-area: 2 / 1 / 3 / 3;
}
.reactions{
    display: flex;
    align-items: right;
    justify-content: space-around;
    grid-area: 3 / 2 / 4 / 3;
}
.project1 {
    grid-area: 2 / 1 / 3 / 2;
}

.project2 {
    grid-area: 2 / 2 / 3 / 3;
}

.project3 {
    grid-area: 3 / 1 / 4 / 2;
}

.project4 {
    grid-area: 3 / 2 / 4 / 3;
}

.project5 {
    grid-area: 4 / 1 / 5 / 2;
}

.project6 {
    grid-area: 4 / 2 / 5 / 3;
}

.annoucements {
    grid-area: 1 / 2 / 2 / 3;
}
.card-trending{
    display: flex;
    /* flex-direction: column; */
    background-color: #fff;
    border-radius: 6px;
    padding: 20px;
}
.card-annouce{
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
}
.card-annouce p{
    margin-top: -20px;
}
.profil{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.profil h4 {
    margin-top: -20px;
}
.profil p,
.profil h4{
    margin-left: -50px;
} 
