body{
    display: grid;
    height: 100vh;
    grid-template: 15% 85%/ 20% 80%;
    grid-template-areas: 
    "div header"
    "div main";
}
header{
    background: green;
    grid-area: header;
}
div{
    background: rgb(22, 67, 189);
    grid-area: div;
}
main{
    background: cornflowerblue;
    grid-area: main;
}